body{
    background-image: url('pictures/background.png');
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
    overflow: hidden;

}
button{
    font-size: 52px;
    background-color: #32991e;
    border: none;
    color: white;
    padding: 50px 75px;
    text-align: center;
    cursor: pointer;
    margin: 1px 1px;
    border-radius: 5px;    
}
#button10 {
    padding: 50px 61px;
}
#div {
    display: inline-block;
    background-color: #2e2e2e;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}
#blanc{
    padding-top: 25px;
}
button:hover{
    background-color: #096100;
}
@font-face{
    font-family: 'coco';
    src: url('cocogoose.ttf')
}
h1{
    font-family: 'coco';
}

#rhg{
    display: inline;
    font-size: 100px;
}
.dice{
    width: 97px;
    height: 108px;
    text-align: left;
}
#jso{
    color: #2e2e2e;
    font-size: 32px;
    font-family: 'coco';
}
#copy{
    vertical-align: bottom;
    text-align: left;
    color: lightgrey;
    padding-bottom: 10000px;
}
#count{
    color: white;
    font-family: 'coco';
    position: absolute;
    left: 480px;
    top: 700px;
    z-index: -1;
}
#cr{
    text-align: left;
    color: darkgray;
    position: fixed;
    left: 10px;
    top: 920px;
    font-size: 10px;
}
#footer{
    color: white;
    background-color: #2e2e2e;
    word-spacing: 40px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    position: fixed;
    left: 1670px;
    top: 850px;
}
#help, #meer{
    display: inline-block;
    font-size: 32px;
    color: white;
    text-align: center;
}
#help:hover, #meer:hover{
    color: #828282;
    cursor: pointer;
    
}
#helpmenu{
    color: white;
    background-color: #2e2e2e;
    display: inline-block;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 5px;
    position: fixed;
    left: 535px;
    top: 410px;
}
#meermenu{
    color: white;
    background-color: #2e2e2e;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    position: fixed;
    left: 730px;
    top: 395px;
}
#cr2{
    text-align: left;
}
#scherm{
    font-size: 8px;
    text-align: left;
}
.sluit{
    padding: 0px;
}
<!--968px-->